ion-slides{
  background-color: white;
  height: 100vh;
  max-width: 100vw;
}

.swiper-slide{
  display: block;
  margin-bottom: 64px;
  background-color: white;
}
ion-slide > ion-icon {
  color: rgb(0, 30, 112);
  font-size: 48px;
}
ion-slide > ion-icon[name="close"] {
  float: right;
  color: rgb(0, 30, 112);
  font-size: 48px;
}
ion-slide > img {
  max-height: 50%;
  max-width: 60%;
  margin: 40px 0;
}
ion-slide > p {
  font-style: italic;
  font-size: 22px;
  padding: 1em 1em 1em 1em;
}
ion-slide > h1,
h2 {
  margin: 0 0 0 0;
  color: var(--ion-color-primary);
}
img{
  width: 1000px;
  height: 474px;
}
@media (orientation: portrait) {
  img{
    width: 1000px;
   height: 250px;
  }
}
